html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.background-image {
  background-image: url('../public/background/page-bg.png');
  position: absolute;
  height: 100vh;
  width: 100vw;
}
